:root {

    --background: #0f172a;
    --surface: #1e293b;

    --text-primary: #f8fafc;
    --text-secondary: #cbd5e1;
    --text-label: #e2e8f0;

    --accent: #38bdf8;

    --border: #334155;

}


[data-theme="light"] {

    --background: #f8fafc;
    --surface: #ffffff;

    --text-primary: #0f172a;
    --text-secondary: #475569;
    --text-label: #1e293b;

    --border: #cbd5e1;

}
